In [1]:
using CSV, DataFrames

# Read data from CSV file
# Strip spaces from column names
df = CSV.read("series.csv", DataFrame)
rename!(df, Symbol.(strip.(string.(names(df)))))

13×4 DataFrame
 Row │ xs     ys1    ys2    ys3
     │ Int64  Int64  Int64  Int64
─────┼────────────────────────────
   1 │     0      5      5      5
   2 │     1      9     12     14
   3 │     2     13     25     41
   4 │     3     17     44     98
   5 │     4     21     69    197
   6 │     5     25    100    350
   7 │     6     29    137    569
   8 │     7     33    180    866
   9 │     8     37    229   1253
  10 │     9     41    284   1742
  11 │    10     45    345   2345
  12 │    11     49    412   3074
  13 │    12     53    485   3941

In [5]:
names(df)

4-element Vector{String}:
 "xs"
 "ys1"
 "ys2"
 "ys3"

In [6]:
last(df,5)

5×4 DataFrame
 Row │ xs     ys1    ys2    ys3
     │ Int64  Int64  Int64  Int64
─────┼────────────────────────────
   1 │     8     37    229   1253
   2 │     9     41    284   1742
   3 │    10     45    345   2345
   4 │    11     49    412   3074
   5 │    12     53    485   3941